*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
} */
.box {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    height: 60px;
    margin-bottom: 15px;
    padding: 0;
    margin-top: 45px;
    font-size: 40px;
    font-family: Klavika;
    font-weight: 900;
    color: #398ad7;
}
.container{
    width: 410px ;
    height: 410px;
    padding: 20px;
    border-radius: 9px;
    background-color:#FFF;
    box-shadow:  0px 10px 10px rgba(0, 0, 0, 0.288);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text  p {
    font-size: medium;
    text-align: center;
    margin: 10px;
}
a {
    text-decoration: none;
    color: #007aff;
    font-size: 15px;
    border-bottom: 1px saddlebrown;
}
a:hover{
    text-decoration: underline;
    
}
.line {
    width: 365PX;
    text-align: center;
    padding: 15px;
    border-bottom: 0.7px solid #c0c0c0;
}

.new button {
    width: 100%;    
    padding: 12px 20px;
    border: none;
    outline: none;
    background: #2bc20e;
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}
.new button:hover {
    background: #0c8900;
    transition: all 0.3s ease;
}

.inputBox{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.inputBox input[type="password"], .inputBox input[type="text"]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox textarea{
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox button{
    width: 100%;    
    padding: 13px 20px;
    border: none;
    outline: none;
    background: #0052ff;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.inputBox button:hover{
    background: #007aff;
    transition: all 0.3s ease;
}

::placeholder{
    font-size: 16px;
}

.alert{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}
@media(max-width :300px ){
.box {
    width:250px;
    }
    
}
